.group_calls_list_item {
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  outline: none;
  border: 1px solid #e6e5e8;
  display: flex;
  height: 45%;
  width: 10%;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: 0.3s;
  background-color: #0396ff;
  margin-left: 10px;
}

.group_calls_list_item:hover {
  /*   opacity: 0.2; */
  color: #0396ff;
  background-color: #e6e5e8;
  border: 2px solid #006cb9;
}
