.dashboard_container {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.dashboard_left_section {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
/*   border: 1px black solid; */
}

.dashboard_right_section {
  width: 20%;
  height: 100%;
}


.dashboard_content_container {
  width: 100%;
  height: 120%;
  display: flex;
  align-items: center;

}

.dashboard_rooms_container {
  width: 124%;
  height: 171.5px;
  display: flex;
  align-items: center;
  bottom: 0;

}

.dashboard_info_text_container {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  margin-bottom: 13%;
}

.dashboard_info_text_title {
  font-size: 50px;
}

.dashboard_text_title {
  font-size: 20px;

}

.dashboard_info_text_description {
  margin-top: 20px;
  font-size: 20px;

}

.dashboard_active_users_list {
  height: 80%;
}

.dashboard_logo_container {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.dashboard_logo_image {
  width: 60%;
}
/*************/

#drawersContainer {
  width: 20%; /*dont touch*/

  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  /* 	border: 1px black solid; */
  pointer-events: none;
}

.drawer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}
.drawer * {
  pointer-events: auto;
}
.drawer > input[type="checkbox"] {
  display: none;
}
.drawerPull {
  display: inline-block;
  width: 10%;
  height: 30px;
  background: DarkGray;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  vertical-align: top;
}

.drawerContents {
  width: 110%;
  position: absolute;
  top: 0;
  height: 100%;
}
.drawerPull {
  position: absolute;
  top: 0;
}
.drawerPull:after {
  content: "";
}

#rightDrawer {
  /* 	right: -300px; */
  right: -90%;
}
#rightDrawerContents {
  background-color: #dbe8f0;
  border-radius: 25px;

  transition-property: right;
  transition-duration: 0.5s;
  transition-function: ease linear;
}
#rightDrawerPull {
  right: 90%;
  position: absolute;
  transition-property: right;
  transition-duration: 0.5s;
  transition-function: ease linear;
}
#rightDrawerPull:after {
  content: "\2039";
}
#rightDrawerCheck:checked + #rightDrawerContents {
  right: 75%;
}
#rightDrawerCheck:checked + #rightDrawerContents + #rightDrawerPull {
  right: 120%;
}
#rightDrawerCheck:checked + #rightDrawerContents + #rightDrawerPull:after {
  content: "\203a";
}
.ActiveButton {
  top: 56%;
  height: 25px;
  border-radius: 50px;
  outline: none;
  border: 1px solid #e6e5e8;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  width: 140px;
  transition: 0.3s;
  position: absolute;
  left: 50px;
  bottom: 21%;
  background-color: #282c34;
  color: #e6e5e8;
  margin-left: 30px;
}

.ActiveButton:hover {
  background-color: #e6e5e8;
  color: #282c34;
  border: 1px solid #282c34;
  /*   opacity: 0.5; */
}

.welcome-thumb {
  /*  position: absolute;
  width: 650px;
  right: 0;
  top:10vh;
  /*    top:37vh;  */
  /*   left: 95vh; */
  /*   border: 1px black solid; */
  /*  display: flex;
  align-items: center; */
  /*   bottom: 15.7%; */
  /* bottom: 123px; */
  /* width: 125%;
 height:170px; */
  /* align-items: center; */ /* */

  position: absolute;

  top: 40%;
  left: 50%;
  transform: translate(10%, -50%);
}

.welcome-thumb img {
  height: auto;
  width: 100%;
}
