
input:focus, textarea:focus, select:focus{
  outline: none;
}

.messages_input {
  height: 40px;
  width: 13.2%;
  padding: 0 5px;
  border: 1px solid #e6e5e8;
  background-color: #282C34;
  border-style:inset;
  position: absolute;
  margin: 0;
  top:90%;
  right: 2.2%;
  bottom: 23%;
  font-size: 16px;
  color: #e6e5e8;
  border-radius: 50px;
}

.message_displayer {

  min-width: 50px;
/*  height:auto; */
  min-height: 4%;
  max-height: 100%;
  max-width: 18%;
  padding: 10px 30px;
  border: 1px solid #e6e5e8;
  background-color: #282C34;
  position: absolute;
  margin: 0;
  top:80%;
  right: 2.2%;
  bottom: 40%;
  font-size: 16px;
  color: #e6e5e8;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s ease;
  word-wrap: break-word;
  position: absolute;
  white-space: pre-line;
  display: block;
  overflow: auto;


  
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}