.active_user_list_container {
  width: 100%;
  height: 100%;
}

.active_user_list_item {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.active_user_list_item:hover {
  background-color: #e6ebf5;
}

.active_user_list_image_container {
  width: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.active_user_list_text {
  font-size: 24px;
  font-family:'Corporate S Pro Demi';
  color: #6d767f;
}

.active_user_list_image {
  width: 70%;
}