.group_call_room_container {

  width: 100vw;
  height:80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 /*  margin-left: 5%;
  margin-left: 5%; */
  border:3px green solid;
  transform: translate(1%,10%);

  -webkit-column-count:3 ;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width:33% ;
  column-width: 33%;
  padding:0 12px;
}

.group_call_title {

  font-size: 50px;
  margin-top: 1%;
}


/* .group_call_videos_container .div {
  display: flex;
}
 */
.group_call_videos_container {
 /*  object-fit: contain; */
/*   overflow-y: scroll; */
/*   clear: both; */
/*   width: 100%;
  height: 100%; */
/*   border: 2px solid rgb(255, 0, 0); */
/*  position: relative;   */
/*  display: flex; 
  flex-wrap:wrap;   */
   /*  left:4%;
    right:4%; */

    border:3px black solid;
    /* width: 100vw;
    height:80vh; */
    /*   width: 20%;
      height: 50%; */
    
  
/*  white-space: wrap; */  
/*  width:100%;
  height:100%;
  margin-top: 15%;
  display: flex;
  justify-content: space-evenly;
  border:3px rgb(82, 82, 90) solid; */

/* -webkit-column-count:3 ;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width:33% ;
  column-width: 33%;
  padding:0 12px; */


 /*  padding-left: 0%;
  padding-right:10%; */
  /* margin-left: 15%;  */
}

@media(max-width:991px){
  .group_call_videos_container{
    border:3px green solid;
    -webkit-column-count:2 ;
      -moz-column-count: 2;
      column-count: 2;
     
  }
}

@media(max-width:480px){
  .group_call_videos_container{
    border:3px green solid;
    -webkit-column-count:1 ;
      -moz-column-count: 1;
      column-count: 1;
      -webkit-column-width:100%;
      -moz-column-width:100% ;
      column-width: 100%;
     
  }
}