.group_call_button {
  top:56%;

  height: 46.3px;
  border-radius: 50px;
  outline: none;
  border: 1px solid #e6e5e8;
  font-size: 16px;
  padding: 10px 10px;
  width: 170px;
  transition: 0.3s;
  position: absolute;
  left: 250px;
  bottom: 21%;
  background-color: #282C34;
  color: #e6e5e8;
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  margin-left: 15px;
}

.group_call_button:hover {
  background-color: #e6e5e8;
  color: #282c34;
  border: 1px solid #282c34;
/*   opacity: 0.5; */
}